@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #79879c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.arrows-n{
  position:absolute;top:12%;left:15%;width:30%;
  transform: rotate(180deg);
}
.arrows-s{
  position:absolute;bottom:12%;right:15%;width:30%;
  transform: rotate(0deg);
}
.arrows-e{
  position:absolute;top:12%;right:14%;width:30%;
  transform: rotate(270deg);
}
.arrows-w{
  position:absolute;bottom:12%;left:14%;width:30%;
  transform: rotate(90deg);
}
.else-n-p{
  position:absolute;bottom:6%;left:-38%;width:90%;
  transform: rotate(180deg);
}

.else-s-p{
  position:absolute;bottom:6%;right:-38%;width:90%;
  transform: rotate(0deg);
}
.else-w-p{
  position:absolute;bottom:-39%;right:4%;width:90%;
  transform: rotate(90deg);
}
.else-e-p{
  position:absolute;top:-39%;right:6%;width:90%;
  transform: rotate(270deg);
}